@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand-body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F7F7F7;
}   
/* navbar styles */
.nav{
    margin: 0px;
}
.nav-container{
    max-width: 1160px;
    margin: 20px auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.school{
    max-width: 195px;
    max-height: 55px;
    display: flex;
    /* border: 1px solid black; */
    gap: 10px;
    align-items: center;
}
.school>img{
    max-height: 55px;
}
.school .title{
    font-size: 2rem;
    font-weight: bold;
}
.menu{
    max-width: 385px;
    display: flex;
    gap: 30px;
    font-weight: bold;
    font-size: 1.25rem;
}
.home{
    color: orange;
}
.about{
    color: #01ACFD;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.contact{
    max-width: 195px;
}
.contact-btn{
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 12px 50px;
    border-radius: 10px;
    background-color: orange;
    color: white;
}
.three-line {
max-width: 55px;
/* max-height: 55px; */
display: none;
align-items: center;

}
.ham{
    width: 100%;
    height: 100%;
}
/* navbar responsive */
@media screen and (max-width: 576px) {
    *{
        margin: 0px;
    }
    .school .title, .menu, .contact-btn{
        display: none;
    }
    .three-line{
        display:block;
    }

    .nav-container{
        margin: 0px;
        border: 1px solid #FEA301;
        padding: 10px;
    }
    .school {
        border: 1px solid #FEA301;
    }
    .three-line{
        border: 1px solid #FEA301;
        height: 30px;
        width: 30px ;
        margin-right: 5px;
    }
} 
/* banner styles */
.banner-container{
    max-width: 1160px;
    margin: 20px auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.banner-text{
    /* border: 1px solid black; */
    max-width: 550px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold ;
    line-height: 60px;
    margin-bottom: 22px;
}
.emp{
    color: #FEA301;
}
.vis{
    color: #01ACFD;
}
.banner-des{
    font-size: 1.05rem;
    color: #111111;
    margin-bottom: 22px;
}
.ban-btn{
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 10px;
    background-color: #111111;
    color: white;
}
.banner-image{
    max-width: 458px;
    /* border: 1px solid black; */
}
.banner-image>img{
    width: 100%;
    /* height:100%; */
}

/* banner responsive */
@media screen and (max-width: 576px){
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 8px 15px;
        gap: 20px ;
        padding: 18px 10px;
    }
}

/* standard curriculum */
main{
    background-image:url('../assets/bg.png');
}
/* .std-curr{
    border: 1px solid black;
} */
.stand, .story-title{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}
.card-container{
    max-width: 1160px;
    /* border: 1px solid black; */
    margin:80px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
}
.card-1{
    max-width: 578px;
    border: 1px solid #7FDBD03F;
    border-radius: 18.86px;
    background: linear-gradient(to bottom, #e2f6ff, #FFFFFF);
    text-align: center;
    justify-items: center;
}
.card-2{
    max-width: 578px;
    border: 1px solid #C6794D3F ;
    border-radius: 18.86px;
    background: linear-gradient(to bottom, #fcf5e6, #FFFFFF);
    text-align: center;
    justify-items: center;
}
.card-3{
    max-width: 578px;
    border: 1px solid #C499C83F;
    border-radius: 18.86px;
    background: linear-gradient(to bottom, #eee6fa, #FFFFFF);
    text-align: center;
    justify-items: center;
}
.card-img{
    max-width: 115px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
}
.card-img img{
    width: 100%;
}
.card-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: #202020;
    margin-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
}
.card-des{
    font-family:"Raleway";
    color: #808080;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 32px;
    max-width: 285px;
    padding-left: 15px;
    padding-right: 15px;
}
.read-more-1{
    font-weight: bold;
    font-size: 1rem;
    color: #64C8FF ;
    margin-bottom: 32px;
}
.read-more-2{
    font-weight: bold;
    font-size: 1rem;
    color: #F0AA00 ;
    margin-bottom: 32px;
}
.read-more-3{
    font-weight: bold;
    font-size: 1rem;
    color: #8700FF ;
    margin-bottom: 32px;
}
.two-arrow{
    /* border: 1px solid black; */
    max-width: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 70px auto;
    margin-bottom: 60px;
}
.left-arrow, .right-arrow{
    /* border: 1px solid black; */
    max-width: 60px;
    height: 60px;
    background-color: #FEA301;
    border-radius: 50%;
}
.fa-solid{
    color: white;
    position: absolute;
    padding: 18px 21px;
    font-weight: bolder;
    font-size: 1.5rem ;
}
/* standard responsive */
@media screen and (max-width: 576px) {
.card-container{
    margin: 8px 15px;
    grid-template-columns: repeat(1,1fr);
    gap: 0px;
}
.stand{
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}
.two-arrow{
    display: none;
}
}

/* story styles */
.story-container{
    margin: 0px;
    /* border: 1px solid black; */
    background: linear-gradient(0deg, #fea10156, #ffffff00);
}
.story-img-container{
    max-width: 1160px;
    /* border: 1px solid black; */
    margin: 60px auto;
    /* display: grid;
    grid-template-columns: repeat(2, 2fr); */
    display: flex;
    justify-content: space-between;
    gap: 18px;   

}
.big-card{
    /* border: 1px solid black; */
    max-width: 540px;
    border-radius: 16px;
    background-color: white;
}
.big-card-img{
    max-width: 540px;
}
.big-card-img img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
/* .big-card-text{
    border: 1px solid black;

} */
.big-card-title{
    max-width: 450px;
    font-weight: bold;
    font-size: .85rem;
    /* border: 1px solid black; */
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 56px;
    margin-bottom: 40px;
}
.big-card-des{
    font-family: "Raleway";
    color: #666666;
    font-size: 1rem;
    line-height: 28.8px;
    max-width: 450px;
    margin-left: 38px;
    margin-right: 38px;
    /* border: 1px solid black; */
    padding-bottom: 12px;
}
.small-four-cards{
    /* background-color: white; */
    max-width: 699px;
    /* border: 1px solid black; */
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
}
.small-card{
    max-width: 290px;
    /* border: 1px solid black; */
    border-radius: 16px;
    background-color: white;
    position: relative;
}
.small-four-cards img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.small-card-text{
    /* border: 1px solid black; */
    max-width: 210px;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 37px;
    margin-right: 54px;
    margin-top: 35px;
    margin-bottom: 28px;
    line-height: 28.8px;
}
.float-box-1{
    max-width: 170px;
    /* border: 1px solid black; */
    background-color: #3CD8E8;
    position: absolute;
    margin-top: -25px;
    border-radius: 45px;
    margin-left: 37px;
    margin-right: 325px;
}
.float-box-1 p{
    color: white;
    font-family: "Raleway";
    font-size: .9rem;
    margin: 10px 18px;
}

.float-box-2{
    max-width: 170px;
    /* border: 1px solid black; */
    background-color: #95B226;
    position: absolute;
    margin-top: -25px;
    border-radius: 45px;
    margin-left: 37px;
    margin-right: 78px;
}
.float-box-2 p{
    color: white;
    font-family: "Raleway";
    font-size: .9rem;
    margin: 10px 18px;
}
.float-box-3{
    max-width: 170px;
    /* border: 1px solid black; */
    background-color: #5D58F0;
    position: absolute;
    margin-top: -25px;
    border-radius: 45px;
    margin-left: 37px;
    margin-right: 78px;
}
.float-box-3 p{
    color: white;
    font-family: "Raleway";
    font-size: .9rem;
    margin: 10px 18px;
}
.float-box-4{
    max-width: 170px;
    /* border: 1px solid black; */
    background-color: #95B226;
    position: absolute;
    margin-top: -25px;
    border-radius: 45px;
    margin-left: 37px;
    margin-right: 78px;
}
.float-box-4 p{
    color: white;
    font-family: "Raleway";
    font-size: .9rem;
    margin: 10px 18px;
}
.float-box-5{
    max-width: 170px;
    /* border: 1px solid black; */
    background-color: #95B226;
    position: absolute;
    margin-top: -25px;
    border-radius: 45px;
    margin-left: 37px;
    margin-right: 78px;
}
.float-box-5 p{
    color: white;
    font-family: "Raleway";
    font-size: .9rem;
    margin: 10px 18px;
}
.story-btn{
    /* border: 1px solid black; */
    max-width: 167px;
    margin: 80px auto;
    margin-bottom: 0px;
    padding-bottom: 60px;
}
/* story responsive */
@media screen and (max-width: 576px) {
.big-card{
    display: none;
}
.story-title{
    font-size: 1.2rem;
    margin-top: 90px;
    margin-bottom: 10px;
}
.small-four-cards{
margin-left: 8px;
margin-right: 10px; 
gap: 8px; 
}
}